body {
  background-image: url("../images/background2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: Georgia;
  line-height: 1.3;
}
h1 {
  text-align: center;
  color: white;
  font-size: 32pt;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#begin {
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#begin:hover {
  cursor: cell;
}
.zombie-pic {
  width: 200px;
  height: auto;
  border: 1px solid black;
  float: left;
  margin-right: 15px;
}
div#zombie1 {
  display: inline-block;
  max-width: 800px;
  background-color: rgba(0,0,0,0.4);
  margin: 0px 20px 20px 20px;
  padding: 15px;
  border: 1px solid white;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
div#zombie2 {
  display: inline-block;
  max-width: 800px;
  background-color: rgba(0,0,0,0.4);
  margin: 0px 20px 20px 20px;
  padding: 15px;
  border: 1px solid white;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h2 {
  color: white;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
div#directions {
  height: 600px;
  width: 350px;
  margin-right: 50px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-color: rgba(255,255,255,0.4);
  position: fixed;
  display: inline-block;
  font-family: Georgia;
  border: 1px solid white;
}
div#intro {
  display: inline-block;
}
#game-directions {
  padding: 15px;
}
.zombie-desc {
  display: inline;
}
button {
  color: white;
  background-color: black;
}
div#goals {
  background-color: rgba(0,0,0,0.4);
  height: 400px;
  width: 500px;
  padding: 15px;
  border: 1px solid white;
  margin: 0px 370px;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
div#game-start {
  background-color: rgba(0,0,0,0.5);
  height: 590px;
  width: auto;
  margin: 20px;
  border: 1px solid white;
}
#pause {
  margin: 5px;
}
#stats {
  margin: 5px;
}
progress[value] {
  background-color: white;
  border: 1px solid black;
}
div#stats-show {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-left: 5px;
}
#up-arrow {
  font-size: 28pt;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: block;
  margin-left: 340px;
}
#left-arrow {
  font-size: 28pt;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  float: left;
  margin-top: 205px;
}
#right-arrow {
  font-size: 28pt;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  float: left;
  margin-top: 205px;
}
div#play-buttons {
  display: block;
}
div#screen-one-left {
  display: inline-block;
}
div#screen-one-right {
  display: inline-block;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.arrows:hover {
  cursor: cell;
}
.game-images {
  width: 625px;
  height: auto;
  border: 1px solid white;
  display: inline-block;
  float: left;
  margin: 10px;
}
